footer {
  background: url(../img/bg-footer.jpg);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  padding: 70px 0;

  @media screen and (max-width:800px) {
    background: $black2; ;
  }

  .footer-container {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 50px;
    width: 75%;
    max-width: 1050px;
    margin: 0 auto;

    @media screen and (max-width:800px) {
      grid-template-columns: 1fr ;
      text-align: center;
    }

    h2 {
      @include titleUp;
      font-size: 2.4rem;
    }

    p {
      font-family: $fontR;
      font-weight: 300;
      font-size: 0.9rem;
      color: $hellgrey;
      line-height: 180%;
      padding-right: 30px;
    }

    .footer-right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 40px;

      .newsletter-container {
        display: flex;
        flex-direction: column;
        gap: 15px;
        
        label {
          font-family: $fontR;
          font-size: 1rem;
          font-weight: 400;
          color: $hellgrey;
          text-transform: uppercase;
        }

        input {
          border: 1px solid rgb(84, 84, 84);
          outline: none;
          background: transparent;
          color: rgb(84, 84, 84);
          border-radius: 4px;
          padding: 10px;
          width: 50%;
        }

        @media screen and (max-width:800px ) {
          justify-content: center;
          align-items: center;
          min-width: 75%;

          input {
            width: 75%;
          }
        }
      }

      .social-footer {
        display: flex;
        gap: 30px;

        h4 {
          font-family: $fontR;
          font-size: 1rem;
          font-weight: 400;
          color: $hellgrey;
          text-transform: uppercase;
        }

        i {
            padding: 0 15px;
            color: rgb(84, 84, 84);
            cursor: pointer;
            transition: 0.2s;

            &:hover {
              transform: scale(1.2);
            }
        }
      }
    }
  }
}
