.section-store {
  min-height: 40vh;
  display: grid;
  grid-template-columns: 50% 50%;

  .store-left {
    border: 1px dashed $brown;
    margin: 20px;
    min-height: 40vh;

    @include title-bloc;

    p {
      font-family: $fontR;
      font-weight: 300;
      color: $black2;
      line-height: 25px;
      text-align: center;
      padding: 0 20px;
    }

    .cook {
      text-align: center;
      margin: 30px 0 30px;

      .img-avatar {
        height: 70px;
        width: 70px;
        border-radius: 100px;
        margin: 0 auto;
        align-items: center;
      }

      h4 {
        font-family: $fontR;
        font-weight: 500;
        text-align: center;
        padding-bottom: 5px;
      }

      h5 {
        font-family: $fontR;
        text-transform: uppercase;
        font-weight: 400;
        color: $middlegrey;
        text-align: center;
      }
    }
  }

  .store-right {
    height: 100%;

    img {
      max-width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.section-menu {
  @include title-bloc;
  padding: 50px 0 100px;
  background: linear-gradient(to bottom, $black2 45%, rgba(0, 0, 0, 0) 45%),
    url(../img/bg-menu-01.jpg) no-repeat bottom;
  position: relative;
  z-index: 1;

  .down {
    color: $white;
  }

  .menu-list {
    width: 50%;
    margin: 0 auto;
    font-family: $fontR;
    font-size: 1rem;
    font-weight: 300;
    color: $white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    .lunch {
      position: relative;
    }

    .lunch::after {
      content: "";
      position: absolute;
      background: $white;
      height: 1.5px;
      width: 100%;
      left: 0;
      bottom: -4px;
      display: block;
    }

    span {
      cursor: pointer;
      position: relative;

      &:hover::after {
        content: "";
        position: absolute;
        background: $white;
        height: 1.5px;
        width: 100%;
        left: 0;
        bottom: -4px;
      }
    }
  }

  .menu-box {
    background: $white;
    border-top: 5px solid $brown;
    width: 60%;
    margin: 30px auto 0;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 20px 20px;
    position: relative;
    z-index: 2;

    .menu-item {
      display: grid;
      grid-template-columns: 20% 60% 20%;
      margin: 0 20px;
      align-items: center;
      gap: 20px;
      padding: 30px 0;
      border-bottom: 1px dashed $hellgrey;

      img {
        border-radius: 100px;
        height: 75px;
        width: 75px;
      }

      h4 {
        font-family: $fontR;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 0.8rem;
      }

      .ingredients {
        font-family: $fontR;
        color: $darkgrey;
        font-weight: 300;
        font-size: 0.9rem;
      }

      .price {
        font-family: $fontP;
        color: $brown;
        font-weight: 400;
        font-size: 1.1rem;
      }
    }
  }
}

.section-booking {
  background: $black2;
  padding: 120px 0 60px;

  .booking-container {
    display: grid;
    grid-template-columns: 35% 65%;
    width: 75%;
    margin: 0 auto;

    .container-left {
      background: $black1;
      padding: 25px;

      .booking-left {
        @include title-bloc;

        color: $white;
        padding: 0 30px 15px;
        border: 1px dashed $white;

        h4 {
          text-align: center;
          font-family: $fontP;
          text-transform: uppercase;
          font-weight: 400;
          font-size: 1.1rem;
          color: $brown;
          padding-bottom: 15px;
        }

        p {
          text-align: center;
          font-family: $fontR;
          font-weight: 300;
          font-size: 0.9rem;
          letter-spacing: 1px;
          padding-bottom: 30px;
        }
      }
    }

    .booking-right {
      background: $white;
      color: $black1;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @include title-bloc;

      .title-booking {
        margin-top: 0;
      }

      form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;

        .grid-container {
          font-family: $fontR;
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          gap: 20px;
          justify-content: center;
          align-items: end;
          width: 70%;
          margin: 0 auto;

          .form-item {
            display: flex;
            flex-direction: column;

            input,
            select {
              border: none;
              background: transparent;
              border-bottom: 1px solid $hellgrey;
              padding: 10px 0;
              outline: none;
            }
          }
        }

        .btn {
          background: $black2;
          color: $white;
          text-transform: uppercase;
          font-family: $fontP;
          font-weight: 500;
          font-size: 1rem;
          letter-spacing: 2px;
          border-radius: 50px;
          padding: 10px 25px;
          border: none;
          margin: 0 auto;
        }
      }
    }
  }
}

.section-event {
  background: $black2;
  padding: 40px 0 120px;
  @include title-bloc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .down {
    color: $white;
    margin-top: 8px;
  }

  .main-box {
    width: 75%;

    .grid {
        display: grid;
        grid-template-columns: 60% 40%;
        gap: 20px;
        width: 100%;

      .box-left {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .box-left-1,
        .box-left-2 {
          .box-left-1-container,
          .box-left-2-container {
            display: grid;
            grid-template-columns: 40% 60%;

            .img-container {
              position: relative;

              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }

              .date-container {
                background: $black2;
                width: 80px;
                height: 80px;
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                .date {
                  color: $white;
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;

                  .day {
                    font-family: $fontP;
                    font-size: 1.5rem;
                    font-weight: 400;
                  }

                  .month {
                    font-family: $fontP;
                    font-size: 1rem;
                    font-weight: 300;
                    margin-top: -10px;
                  }
                }
              }
            }

            .text-container {
              background: $white;
              padding: 30px;

              h4 {
                font-family: $fontR;
                font-weight: 300;
                font-size: 1.3rem;
              }

              .practical-infos {
                display: flex;
                justify-content: flex-start;
                gap: 10px;
                align-items: center;
                color: $middlegrey;
                font-family: $fontR;
                font-size: 0.8rem;
                font-weight: 300;
                padding: 20px 0;
              }

              button {
                border: none;
                font-family: $fontR;
                text-transform: uppercase;
                font-weight: 400;
                font-size: 0.9rem;
                letter-spacing: 1px;
                background: none;
                cursor: pointer;
              }
            }
          }
        }
      }

      .box-right {
        background-image: url(../img/event-03.jpg);
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;

        .box-right-container {
          background: $white;
          width: 85%;
          height: 85%;
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .date-container {
            background: $black2;
            width: 80px;
            height: 80px;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            top: 0;
            left: 50%;
            transform: translate(-50%);

            .date {
              color: $white;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;

              .day {
                font-family: $fontP;
                font-size: 1.5rem;
                font-weight: 400;
              }

              .month {
                font-family: $fontP;
                font-size: 1rem;
                font-weight: 300;
                margin-top: -10px;
              }
            }
          }

          .event-text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 90px;

            h4 {
              font-family: $fontR;
              font-weight: 300;
              font-size: 1.3rem;
              text-align: center;
            }

            .practical-infos {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              gap: 10px;
              align-items: center;
              color: $middlegrey;
              font-family: $fontR;
              font-size: 0.8rem;
              font-weight: 300;
              padding: 20px 0;
            }

            button {
              border: none;
              font-family: $fontR;
              text-transform: uppercase;
              font-weight: 400;
              font-size: 0.9rem;
              letter-spacing: 1px;
              background: none;
              cursor: pointer;
              margin-top: 20px;
            }
          }
        }
      }
    }
  }
}

.section-review {
  padding-top: 40px;
  padding-bottom: 230px;
  background: linear-gradient(to bottom, $black2 35%, rgba(0, 0, 0, 0) 35%),
    url(../img/gmap.jpg) no-repeat top;
  background-size: cover;
  position: relative;

  .img-review {
    position: absolute;
    border-radius: 50px;
    width: 80px;
    height: 80px;
    left: 50%;
    transform: translate(-50%);
    top: 0;
  }

  .review-container {
    background: $white;
    width: 75%;
    margin: 0 auto;
    padding: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    span {
      font-family: $fontP;
      font-size: 1.5rem;
    }

    p {
      text-align: center;
      font-family: $fontR;
      font-size: 0.95rem;
      font-weight: 300;
      line-height: 200%;
    }

    h3 {
      font-family: $fontR;
      font-size: 1.4rem;
      font-weight: 400;
      padding: 20px 0 10px;
    }

    h5 {
      font-family: $fontR;
      font-size: 0.9rem;
      font-weight: 300;
      color: $brown;
    }
  }
}
