@charset "UTF-8";
header {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5))), url(../img/bg-slider-06.jpg) center/cover;
  background: linear-gradient(rgba(0, 0, 0, 0.5)), url(../img/bg-slider-06.jpg) center/cover;
}
header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgb(246, 246, 246);
  padding-top: 16px;
  height: 12vh;
  max-width: 1100px;
  margin: 0 auto;
}
header nav .logo {
  font-family: "Allura", cursive, serif;
  color: rgb(188, 132, 55);
  font-size: 3rem;
  cursor: pointer;
  color: rgb(246, 246, 246);
  text-align: left;
}
header nav ul {
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 810px) {
  header nav ul {
    display: none;
  }
}
header nav ul li {
  padding: 0 20px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
header nav ul li:hover {
  color: rgb(188, 132, 55);
}
@media screen and (max-width: 810px) {
  header nav .social-nav {
    display: none;
  }
}
header nav .social-nav i {
  padding: 0 5px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
header nav .social-nav i:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
header .main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 88vh;
}
header .main-header .header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -80px;
}
header .main-header .header-container h2 {
  font-family: "Allura", cursive, serif;
  color: rgb(188, 132, 55);
  font-size: 4rem;
  font-weight: 100;
}
@media screen and (max-width: 610px) {
  header .main-header .header-container h2 {
    font-size: 2.5rem;
  }
}
header .main-header .header-container h1 {
  font-family: "Poppins", sans-serif, sans-serif;
  letter-spacing: 1px;
  font-weight: 600;
  text-transform: uppercase;
  text-transform: uppercase;
  text-align: center;
  font-size: 4rem;
  letter-spacing: 8px;
  color: rgb(246, 246, 246);
  margin-top: -25px;
  -webkit-filter: drop-shadow(4px 4px 8px rgb(0, 0, 0));
          filter: drop-shadow(4px 4px 8px rgb(0, 0, 0));
}
@media screen and (max-width: 610px) {
  header .main-header .header-container h1 {
    font-size: 2rem;
    margin-top: -20px;
  }
}
header .main-header .header-container img {
  height: 40px;
  width: 40px;
  margin: 20px 0 40px;
}
header .main-header .header-container h3 {
  font-family: "Roboto", sans-serif;
  color: rgb(246, 246, 246);
  letter-spacing: 5px;
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
}
@media screen and (max-width: 610px) {
  header .main-header .header-container h3 {
    font-size: 0.7rem;
  }
}

.section-store {
  min-height: 40vh;
  display: grid;
  grid-template-columns: 50% 50%;
  background: rgb(246, 246, 246);
}
@media screen and (max-width: 610px) {
  .section-store {
    grid-template-columns: 1fr;
  }
}
.section-store .store-left {
  border: 1px dashed rgb(188, 132, 55);
  margin: 20px;
  min-height: 40vh;
}
.section-store .store-left .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 0 40px;
}
.section-store .store-left .up {
  font-family: "Allura", cursive, serif;
  color: rgb(188, 132, 55);
  font-size: 2rem;
  margin-bottom: -10px;
}
.section-store .store-left .down {
  font-family: "Poppins", sans-serif, sans-serif;
  letter-spacing: 1px;
  font-weight: 600;
  text-transform: uppercase;
}
.section-store .store-left .title img {
  margin-top: 20px;
}
.section-store .store-left p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: rgb(29, 29, 29);
  line-height: 25px;
  text-align: center;
  padding: 0 20px;
}
.section-store .store-left .cook {
  text-align: center;
  margin: 30px 0 30px;
}
.section-store .store-left .cook .img-avatar {
  height: 70px;
  width: 70px;
  border-radius: 100px;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section-store .store-left .cook h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  text-align: center;
  padding-bottom: 5px;
}
.section-store .store-left .cook h5 {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  color: rgb(140, 139, 139);
  text-align: center;
}
.section-store .store-right {
  background: url(../img/store-01.jpg) center/cover;
}
@media screen and (max-width: 610px) {
  .section-store .store-right {
    display: none;
  }
}

.section-menu {
  padding: 50px 0 100px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(45%, rgb(29, 29, 29)), color-stop(45%, rgba(0, 0, 0, 0))), url(../img/bg-menu-01.jpg) no-repeat bottom;
  background: linear-gradient(to bottom, rgb(29, 29, 29) 45%, rgba(0, 0, 0, 0) 45%), url(../img/bg-menu-01.jpg) no-repeat bottom;
  position: relative;
  z-index: 1;
}
.section-menu .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 0 40px;
}
.section-menu .up {
  font-family: "Allura", cursive, serif;
  color: rgb(188, 132, 55);
  font-size: 2rem;
  margin-bottom: -10px;
}
.section-menu .down {
  font-family: "Poppins", sans-serif, sans-serif;
  letter-spacing: 1px;
  font-weight: 600;
  text-transform: uppercase;
}
.section-menu .title img {
  margin-top: 20px;
}
@media screen and (max-width: 610px) {
  .section-menu {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, rgb(29, 29, 29)), color-stop(60%, rgba(0, 0, 0, 0))), url(../img/bg-menu-01.jpg) no-repeat bottom;
    background: linear-gradient(to bottom, rgb(29, 29, 29) 60%, rgba(0, 0, 0, 0) 60%), url(../img/bg-menu-01.jpg) no-repeat bottom;
  }
}
.section-menu .down {
  color: rgb(246, 246, 246);
}
.section-menu ul {
  width: 50%;
  min-width: 400px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: rgb(246, 246, 246);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
@media screen and (max-width: 610px) {
  .section-menu ul {
    min-width: 200px;
    width: 80%;
    font-size: 0.8rem;
  }
}
.section-menu ul .lunch {
  position: relative;
}
.section-menu ul .lunch::after {
  content: "";
  position: absolute;
  background: rgb(246, 246, 246);
  height: 1.5px;
  width: 100%;
  left: 0;
  bottom: -4px;
  display: block;
}
.section-menu ul li {
  cursor: pointer;
  position: relative;
}
.section-menu ul li:hover::after {
  content: "";
  position: absolute;
  background: rgb(246, 246, 246);
  height: 1.5px;
  width: 100%;
  left: 0;
  bottom: -4px;
}
.section-menu .menu-box {
  background: rgb(246, 246, 246);
  border-top: 5px solid rgb(188, 132, 55);
  width: 85%;
  max-width: 800px;
  margin: 30px auto 0;
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 20px 20px;
  position: relative;
  z-index: 2;
}
@media screen and (max-width: 610px) {
  .section-menu .menu-box {
    grid-template-columns: 1fr;
  }
}
.section-menu .menu-box .menu-item {
  display: grid;
  grid-template-columns: 25% 60% 15%;
  margin: 0 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  padding: 30px 0;
  border-bottom: 1px dashed rgb(211, 211, 211);
}
.section-menu .menu-box .menu-item img {
  border-radius: 100px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -o-object-fit: cover;
     object-fit: cover;
}
.section-menu .menu-box .menu-item h4 {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.8rem;
  margin-bottom: 5px;
}
.section-menu .menu-box .menu-item .ingredients {
  font-family: "Roboto", sans-serif;
  color: rgb(84, 83, 83);
  font-weight: 300;
  font-size: 0.9rem;
}
.section-menu .menu-box .menu-item .price {
  font-family: "Poppins", sans-serif;
  color: rgb(188, 132, 55);
  font-weight: 400;
  font-size: 1.1rem;
}

.section-booking {
  background: rgb(29, 29, 29);
  padding: 120px 0 60px;
}
.section-booking .booking-container {
  display: grid;
  grid-template-columns: 35% 65%;
  max-width: 1050px;
  margin: 0 auto;
}
@media screen and (max-width: 800px) {
  .section-booking .booking-container {
    grid-template-columns: 1fr;
  }
}
.section-booking .booking-container .container-left {
  background: rgb(7, 7, 7);
  padding: 25px;
}
.section-booking .booking-container .container-left .booking-left {
  color: rgb(246, 246, 246);
  padding: 0 30px 15px;
  border: 1px dashed rgb(246, 246, 246);
}
.section-booking .booking-container .container-left .booking-left .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 0 40px;
}
.section-booking .booking-container .container-left .booking-left .up {
  font-family: "Allura", cursive, serif;
  color: rgb(188, 132, 55);
  font-size: 2rem;
  margin-bottom: -10px;
}
.section-booking .booking-container .container-left .booking-left .down {
  font-family: "Poppins", sans-serif, sans-serif;
  letter-spacing: 1px;
  font-weight: 600;
  text-transform: uppercase;
}
.section-booking .booking-container .container-left .booking-left .title img {
  margin-top: 20px;
}
.section-booking .booking-container .container-left .booking-left h4 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.1rem;
  color: rgb(188, 132, 55);
  padding-bottom: 15px;
}
.section-booking .booking-container .container-left .booking-left p {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 0.9rem;
  letter-spacing: 1px;
  padding-bottom: 30px;
}
.section-booking .booking-container .booking-right {
  background: rgb(246, 246, 246);
  color: rgb(7, 7, 7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 0 40px;
}
.section-booking .booking-container .booking-right .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 0 40px;
}
.section-booking .booking-container .booking-right .up {
  font-family: "Allura", cursive, serif;
  color: rgb(188, 132, 55);
  font-size: 2rem;
  margin-bottom: -10px;
}
.section-booking .booking-container .booking-right .down {
  font-family: "Poppins", sans-serif, sans-serif;
  letter-spacing: 1px;
  font-weight: 600;
  text-transform: uppercase;
}
.section-booking .booking-container .booking-right .title img {
  margin-top: 20px;
}
.section-booking .booking-container .booking-right .title-booking {
  margin-top: 0;
}
.section-booking .booking-container .booking-right form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
.section-booking .booking-container .booking-right form .grid-container {
  font-family: "Roboto", sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  width: 50%;
  max-width: 1050px;
  margin: 0 auto;
}
@media screen and (max-width: 610px) {
  .section-booking .booking-container .booking-right form .grid-container {
    grid-template-columns: 1fr;
  }
}
.section-booking .booking-container .booking-right form .grid-container .form-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.section-booking .booking-container .booking-right form .grid-container .form-item input,
.section-booking .booking-container .booking-right form .grid-container .form-item select {
  border: none;
  background: none;
  border-bottom: 1px solid rgb(211, 211, 211);
  padding: 10px 0;
  outline: none;
}
.section-booking .booking-container .booking-right form .btn {
  background: rgb(29, 29, 29);
  color: rgb(246, 246, 246);
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 2px;
  border-radius: 50px;
  padding: 10px 25px;
  border: none;
  margin: 0 auto;
  cursor: pointer;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.section-booking .booking-container .booking-right form .btn:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.section-event {
  background: rgb(29, 29, 29);
  padding: 40px 0 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section-event .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 0 40px;
}
.section-event .up {
  font-family: "Allura", cursive, serif;
  color: rgb(188, 132, 55);
  font-size: 2rem;
  margin-bottom: -10px;
}
.section-event .down {
  font-family: "Poppins", sans-serif, sans-serif;
  letter-spacing: 1px;
  font-weight: 600;
  text-transform: uppercase;
}
.section-event .title img {
  margin-top: 20px;
}
.section-event .down {
  color: rgb(246, 246, 246);
  margin-top: 8px;
}
.section-event .main-box {
  width: 75%;
  max-width: 1050px;
}
.section-event .main-box .grid {
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 20px;
  width: 100%;
}
@media screen and (max-width: 800px) {
  .section-event .main-box .grid {
    grid-template-columns: 1fr;
  }
}
.section-event .main-box .grid .box-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.section-event .main-box .grid .box-left .box-left-1 .box-left-1-container,
.section-event .main-box .grid .box-left .box-left-1 .box-left-2-container,
.section-event .main-box .grid .box-left .box-left-2 .box-left-1-container,
.section-event .main-box .grid .box-left .box-left-2 .box-left-2-container {
  display: grid;
  grid-template-columns: 40% 60%;
}
.section-event .main-box .grid .box-left .box-left-1 .box-left-1-container .img-container,
.section-event .main-box .grid .box-left .box-left-1 .box-left-2-container .img-container,
.section-event .main-box .grid .box-left .box-left-2 .box-left-1-container .img-container,
.section-event .main-box .grid .box-left .box-left-2 .box-left-2-container .img-container {
  position: relative;
}
.section-event .main-box .grid .box-left .box-left-1 .box-left-1-container .img-container img,
.section-event .main-box .grid .box-left .box-left-1 .box-left-2-container .img-container img,
.section-event .main-box .grid .box-left .box-left-2 .box-left-1-container .img-container img,
.section-event .main-box .grid .box-left .box-left-2 .box-left-2-container .img-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section-event .main-box .grid .box-left .box-left-1 .box-left-1-container .img-container .date-container,
.section-event .main-box .grid .box-left .box-left-1 .box-left-2-container .img-container .date-container,
.section-event .main-box .grid .box-left .box-left-2 .box-left-1-container .img-container .date-container,
.section-event .main-box .grid .box-left .box-left-2 .box-left-2-container .img-container .date-container {
  background: rgb(29, 29, 29);
  width: 80px;
  height: 80px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.section-event .main-box .grid .box-left .box-left-1 .box-left-1-container .img-container .date-container .date,
.section-event .main-box .grid .box-left .box-left-1 .box-left-2-container .img-container .date-container .date,
.section-event .main-box .grid .box-left .box-left-2 .box-left-1-container .img-container .date-container .date,
.section-event .main-box .grid .box-left .box-left-2 .box-left-2-container .img-container .date-container .date {
  color: rgb(246, 246, 246);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section-event .main-box .grid .box-left .box-left-1 .box-left-1-container .img-container .date-container .date .day,
.section-event .main-box .grid .box-left .box-left-1 .box-left-2-container .img-container .date-container .date .day,
.section-event .main-box .grid .box-left .box-left-2 .box-left-1-container .img-container .date-container .date .day,
.section-event .main-box .grid .box-left .box-left-2 .box-left-2-container .img-container .date-container .date .day {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
}
.section-event .main-box .grid .box-left .box-left-1 .box-left-1-container .img-container .date-container .date .month,
.section-event .main-box .grid .box-left .box-left-1 .box-left-2-container .img-container .date-container .date .month,
.section-event .main-box .grid .box-left .box-left-2 .box-left-1-container .img-container .date-container .date .month,
.section-event .main-box .grid .box-left .box-left-2 .box-left-2-container .img-container .date-container .date .month {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  margin-top: -10px;
}
.section-event .main-box .grid .box-left .box-left-1 .box-left-1-container .text-container,
.section-event .main-box .grid .box-left .box-left-1 .box-left-2-container .text-container,
.section-event .main-box .grid .box-left .box-left-2 .box-left-1-container .text-container,
.section-event .main-box .grid .box-left .box-left-2 .box-left-2-container .text-container {
  background: rgb(246, 246, 246);
  padding: 30px;
}
.section-event .main-box .grid .box-left .box-left-1 .box-left-1-container .text-container h4,
.section-event .main-box .grid .box-left .box-left-1 .box-left-2-container .text-container h4,
.section-event .main-box .grid .box-left .box-left-2 .box-left-1-container .text-container h4,
.section-event .main-box .grid .box-left .box-left-2 .box-left-2-container .text-container h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.3rem;
}
.section-event .main-box .grid .box-left .box-left-1 .box-left-1-container .text-container .practical-infos,
.section-event .main-box .grid .box-left .box-left-1 .box-left-2-container .text-container .practical-infos,
.section-event .main-box .grid .box-left .box-left-2 .box-left-1-container .text-container .practical-infos,
.section-event .main-box .grid .box-left .box-left-2 .box-left-2-container .text-container .practical-infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgb(140, 139, 139);
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  font-weight: 300;
  padding: 20px 0;
}
.section-event .main-box .grid .box-left .box-left-1 .box-left-1-container .text-container button,
.section-event .main-box .grid .box-left .box-left-1 .box-left-2-container .text-container button,
.section-event .main-box .grid .box-left .box-left-2 .box-left-1-container .text-container button,
.section-event .main-box .grid .box-left .box-left-2 .box-left-2-container .text-container button {
  border: none;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.9rem;
  letter-spacing: 1px;
  background: none;
  cursor: pointer;
}
.section-event .main-box .grid .box-right {
  background-image: url(../img/event-03.jpg);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 800px) {
  .section-event .main-box .grid .box-right {
    min-height: 40vh;
  }
}
.section-event .main-box .grid .box-right .box-right-container {
  background: rgb(246, 246, 246);
  width: 85%;
  height: 85%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section-event .main-box .grid .box-right .box-right-container .date-container {
  background: rgb(29, 29, 29);
  width: 80px;
  height: 80px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}
.section-event .main-box .grid .box-right .box-right-container .date-container .date {
  color: rgb(246, 246, 246);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section-event .main-box .grid .box-right .box-right-container .date-container .date .day {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
}
.section-event .main-box .grid .box-right .box-right-container .date-container .date .month {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  margin-top: -10px;
}
.section-event .main-box .grid .box-right .box-right-container .event-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 90px;
}
.section-event .main-box .grid .box-right .box-right-container .event-text h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.3rem;
  text-align: center;
}
.section-event .main-box .grid .box-right .box-right-container .event-text .practical-infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  align-items: center;
  color: rgb(140, 139, 139);
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  font-weight: 300;
  padding: 20px 0;
}
.section-event .main-box .grid .box-right .box-right-container .event-text button {
  border: none;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.9rem;
  letter-spacing: 1px;
  background: none;
  cursor: pointer;
  margin-top: 20px;
}

.section-review {
  padding-top: 40px;
  padding-bottom: 230px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(35%, rgb(29, 29, 29)), color-stop(35%, rgba(0, 0, 0, 0))), url(../img/gmap.jpg) no-repeat top;
  background: linear-gradient(to bottom, rgb(29, 29, 29) 35%, rgba(0, 0, 0, 0) 35%), url(../img/gmap.jpg) no-repeat top;
  background-size: cover;
  position: relative;
}
.section-review .img-review {
  position: absolute;
  border-radius: 50px;
  width: 80px;
  height: 80px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  top: 0;
}
.section-review .review-container {
  background: rgb(246, 246, 246);
  width: 75%;
  max-width: 1050px;
  margin: 0 auto;
  padding: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section-review .review-container .text {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 0.95rem;
  font-weight: 300;
  line-height: 200%;
}
.section-review .review-container .text:before {
  content: "❝";
}
.section-review .review-container .text:after {
  content: "❞";
}
.section-review .review-container .text:before, .section-review .review-container .text:after {
  font-size: 1.5rem;
}
.section-review .review-container h3 {
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  padding: 20px 0 10px;
}
.section-review .review-container h5 {
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
  font-weight: 300;
  color: rgb(188, 132, 55);
}

footer {
  background: url(../img/bg-footer.jpg);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  padding: 70px 0;
}
@media screen and (max-width: 800px) {
  footer {
    background: rgb(29, 29, 29);
  }
}
footer .footer-container {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 50px;
  width: 75%;
  max-width: 1050px;
  margin: 0 auto;
}
@media screen and (max-width: 800px) {
  footer .footer-container {
    grid-template-columns: 1fr;
    text-align: center;
  }
}
footer .footer-container h2 {
  font-family: "Allura", cursive, serif;
  color: rgb(188, 132, 55);
  font-size: 2.4rem;
}
footer .footer-container p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 0.9rem;
  color: rgb(211, 211, 211);
  line-height: 180%;
  padding-right: 30px;
}
footer .footer-container .footer-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  gap: 40px;
}
footer .footer-container .footer-right .newsletter-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}
footer .footer-container .footer-right .newsletter-container label {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: rgb(211, 211, 211);
  text-transform: uppercase;
}
footer .footer-container .footer-right .newsletter-container input {
  border: 1px solid rgb(84, 84, 84);
  outline: none;
  background: transparent;
  color: rgb(84, 84, 84);
  border-radius: 4px;
  padding: 10px;
  width: 50%;
}
@media screen and (max-width: 800px) {
  footer .footer-container .footer-right .newsletter-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-width: 75%;
  }
  footer .footer-container .footer-right .newsletter-container input {
    width: 75%;
  }
}
footer .footer-container .footer-right .social-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
footer .footer-container .footer-right .social-footer h4 {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: rgb(211, 211, 211);
  text-transform: uppercase;
}
footer .footer-container .footer-right .social-footer i {
  padding: 0 15px;
  color: rgb(84, 84, 84);
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
footer .footer-container .footer-right .social-footer i:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}/*# sourceMappingURL=index.css.map */